
.hr1{
    width: 50%;
    height: 4px;
    justify-content: center;
    margin: 12px auto;
    background-color: orange;
  }
  .about h1{
    font-size: 40px;
  }
.about{
    position: relative;
    z-index: 1;
    padding-top: 80px;
}
.about p {
    font-family: 'Times New Roman', serif;
    font-size: 48px;
    color: #3e2f20;
    padding: 20px 40px;
    background-color: #c2ae9e;
    display: inline-block;
    position: relative;
    margin: 0px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 80%, 80% 90%, 70% 80%, 60% 90%, 50% 80%, 40% 90%, 30% 80%, 20% 90%, 10% 80%, 0 90%);
}

.outdoors{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 150px;
}
.out-item1 {
    display: flex;
   /* Items will be displayed in a column */
    align-items: flex-start; /* Align items to the left */
    gap: 14px;
    align-items: center;
    border: 1px solid black;
    margin: 7px;
    box-shadow: 2px 2px 5px black;
    cursor: pointer;
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease-in-out;
}

.out-item1:hover{
    transform: scale(1.1);
    box-shadow: 2px 2px 5px pink;
}

.out-item1 img{
    width: 35px;
    height: 30px;
    border-radius: 50%;
}
.out-item h1{
    font-size: 35px;
}
.out-item1 p{
    font-size: 16px;
    font-weight: 500;
}

.games{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    margin: 60px;
}
.games-item img{
    width: 250px;
}
.games-item h1{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.games h1{
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.thing-to p {
    font-family: 'Times New Roman', serif;
    font-size: 48px;
    color: #3e2f20;
    padding: 20px 40px;
    background-color: #c2ae9e;
    display: inline-block;
    position: relative;
    margin: 0px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 80%, 80% 90%, 70% 80%, 60% 90%, 50% 80%, 40% 90%, 30% 80%, 20% 90%, 10% 80%, 0 90%);
}
.games-item p{
    font-size: 17px;
}

.info p{
    font-size: 25px;
}
.info h1{
    font-size: 35px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.info-item{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 60px;
    gap: 150px;
}
.garden{
    width: 500px;
}
.p{
    font-size: 50px;
    font-weight: 600;
    color: #d38e4e;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
.info-item2 {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
    font-size: 26px;
}
.info-item2 img{
    width: 50px;
    height: 40px;
}

.p1{
    font-size: 26px;
    text-align: left;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.check{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 100px;
    margin: 50px;
}
.check p{
    font-size: 30px;
    text-align: left;
    font-weight: 200px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.table p{
    font-size: 25px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}

.table h2 {
    font-family: 'Times New Roman', serif;
    font-size: 48px;
    color: #3e2f20;
    padding: 20px 40px;
    background-color: #c2ae9e;
    display: inline-block;
    position: relative;
    margin: 0px;
    clip-path: polygon(0 0, 100% 0, 100% 90%, 90% 80%, 80% 90%, 70% 80%, 60% 90%, 50% 80%, 40% 90%, 30% 80%, 20% 90%, 10% 80%, 0 90%);
}